@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* 2. Configuración global de la fuente y cuerpo */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* Establecer la fuente Inter como la principal */
  font-family: 'Inter', sans-serif;
  /* Suavizado de fuente para mejor visualización */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* 4. Eliminar el margin por defecto de elementos comunes */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
